<!DOCTYPE html>
<html>
<head>
	<title>{{title}}</title>
	<link rel="stylesheet" type="text/css" href="../css/groupChat.css">
</head>
<body>
	<div class="container">
		<h1>Chat Application</h1>
		<div class="userbox">
			<img src="" class="userImg">
			<h3 class="userName">{{user.fullName}} | <a href="#">logoOut</a><a href="#">moregroup</a></h3>
		</div>
		<div class="new_group_name">
		<h5>nodejs</h5>
		</div>
			<!-- </input> -->
		<div class="Messagelist">
			<ul class="message">
				<li>
					<div class="msgBox">
						<div class="pic"><img src="">{{user.fullName}}</div>
						<div class="msg"><p>Hellooo.....<p></div>
					</div>

				</li>
			</ul>
		</div>
		<div class="group_user">
			<ui>
				<li>.<img src=""><h5>deepika</h5></li>
			</ui>
		</div>
		<div class="newMessage">
			<input type="text" class="new_Message" autocomplete="off" placeholder="Type Your Message And Press Enter !"></input>
		</div>
	</div>
</body>
</html>